@forward 'globals'; //name of folder
@forward 'util';
.button {
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 37px;
    background-color: var(--buttons);
    font-weight: 800;
    font-size: 1.25rem;
    padding: 14px 20px 14px 20px;
    transition: 0.5s;
    &:hover {
        position: relative;
        top: -10px; //This needs to be added so that it stays at the top at the end of animation
        animation: fadeIn 0.5s;
        background-color: var(--buttons-hover);
        color: var(--white);
    }
}

//Icons for LinkedIn, Mail, GitHub
.socials {
    display: flex;
    gap: 14px;
}

body {
    background-image: url(/public/assets/backgroundmobile.png);
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: 60px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    padding: 22px;
    //MENU SYMBOL
    .mobile-nav-toggle {
        width: 40px;
        background: red; //helpful to position (don't need to position it anymore because of placement in header)
        aspect-ratio: 1;
        z-index: 9000;
        background: url(/public/assets/menu.png);
        background-repeat: no-repeat;
        background-size: contain; //fits the image to the red cube
        border: 0;
        &:hover {
            cursor: pointer;
        }
    }
    //MENU SYMBOL WHEN EXPANDED
    .mobile-nav-toggle[aria-expanded="true"] {
        background: url(/public/assets/cross.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .logo {
        display: none;
    }
    .primary-navigation {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        inset: 0 0 0 0%; //lol omg what is that sourcery?
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(12px);
        font-size: 2rem;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        a {
            padding: 10px 20px;
            border: 2px solid transparent;
            border-radius: 84px;
            transition: 0.4s;
        }
        a:hover {
            padding: 10px 26px;
            border: 2px solid var(--black);
            border-radius: 84px;
        }
        .active {
            padding: 10px 26px;
            border: 2px solid var(--black);
            border-radius: 84px;
        }
    }
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
    .menu {
        width: 45px;
    }
}

svg {
    fill: var(--black);
    transition: 0.4s;
    &:hover {
        fill: var(--light-brown);
    }
}

main {
    display: flex;
    flex-direction: column;
    margin: auto; //So that it's centered in body
    padding: 40px 0px 120px 0px;
    gap: 133px;
    max-width: 18.875rem; //309px //beschränkt den Inhalt
    .project-container {
        display: flex;
        flex-direction: column;
        gap: 108px;
        .project>* {
            margin-top: 25px;
        }
    }
}

.project-img {
    width: 100%;
    border-radius: 19px;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 30px;
    .icon-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        width: 81px;
        & .skill-icon {
            width: 53px;
        }
    }
    span {
        font-weight: 600;
        text-align: center;
    }
}

.skills+.skills {
    padding-top: 40px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        & .profile-img {
            width: 272px;
            height: 272px;
        }
        .hero-text {
            display: flex;
            flex-direction: column;
            gap: 23px;
            .highlight {
                //color: var(--brown);
                font-weight: 900;
                //text-shadow: 0px 0px 2px var(--brown);
            }
        }
    }
    & .arrow-img {
        z-index: -10;
        width: 50px;
        animation: wobble 1.7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }
}

.cite-container {
    text-align: center;
    .fancy-dots {
        display: inline-block;
        font-style: normal;
        font-size: 5rem;
        color: var(--light-brown);
        padding-bottom: 56px;
        line-height: 0.8;
    }
    p {
        font-style: italic;
        padding-bottom: 56px;
        font-weight: 500;
        span {
            font-weight: 300;
        }
    }
}

footer {
    background-color: var(--white);
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 33px 0px 33px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

//FOR ABOUT PAGE
.portrait {
    width: 100%;
}

.section-one {
    h3 {
        margin: 28px 0px 28px 0px;
    }
}

//714px
@media (min-width: 44.6em) {
    body {
        background-image: url(/public/assets/backgroundmedium.png);
    }
    main {
        max-width: 37rem; //588px
    }
    header {
        justify-content: space-between;
        .menu {
            display: none;
        }
        .mobile-nav-toggle {
            display: none;
        }
        .primary-navigation {
            position: unset;
            display: inline;
            background-color: transparent;
            inset: unset;
            font-size: 1.2rem;
            font-weight: 500;
            transform: unset;
            a {
                padding: 10px 20px;
                border: 2px solid var(--white); //so that it won't wobble while hovering
                border-radius: 84px;
                transition: 0.4s;
            }
            a+a {
                margin-left: 40px;
            }
            a:hover {
                padding: 10px 26px;
                border: 2px solid var(--black);
                border-radius: 84px;
            }
        }
    }
    .hero-container {
        .profile-img {
            width: 309px;
            height: 309px;
        }
    }
    .skills+.skills {
        padding-top: 0px;
    }
    .skills-no-wrap {
        display: flex;
        gap: 25px;
        justify-content: center;
    }
    footer {
        flex-direction: row;
        justify-content: center;
        gap: 130px;
    }
    //FOR ABOUT PAGE
    .portrait {
        width: 271px;
        height: 407px;
    }
    .section-one {
        display: flex;
        gap: 52px;
    }
}

//997px
@media (min-width: 62.3em) {
    body {
        background-image: url(/public/assets/backgroundlarge.png);
    }
    main {
        max-width: 54.75rem; //876px
        padding: 140px 0px 120px 0px;
    }
    header {
        .logo {
            display: inline;
            width: 54px;
        }
        justify-content: space-between; //so that other elements in header won't wobble while hovering
    }
    .hero-container {
        .hero {
            flex-direction: row;
            align-items: center;
            gap: 20px;
            .profile-img {
                order: 1;
                width: 309px;
                height: 309px;
            }
            .hero-text {
                order: 0;
            }
        }
    }
    .project-container {
        max-width: 37rem;
        margin: auto;
    }
}