//Fonts, Links etc.
//In media queries use em
//320px
:root {
    h1 {
        font-weight: 500;
        margin: 0px;
    }
    h2 {
        font-size: 2.8rem; //Doesn't change in any media quary, so I put it global
        text-align: center;
        margin-bottom: 59px;
    }
    h3 {
        font-size: 1.68rem;
        font-weight: 800;
        margin: 0px;
    }
    h4 {
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
    }
    p {
        font-weight: 500;
        line-height: 24px;
        margin: 0px;
    }
    a {
        cursor: pointer;
        text-decoration: none;
        color: var(--text);
    }
}

@media (min-width: 20em) {
    h1 {
        font-size: 1.75rem;
    }
}

//714px
@media (min-width: 44.6em) {
    h1 {
        font-size: 2.5rem; //40px
    }
}

//997px
@media (min-width: 62.3em) {
    h1 {
        font-size: 2.65rem; //45.28px
    }
}